.body-about {
    display: flex;
    justify-content: space-around;
}

.abut-me .contaner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 5rem 0;
}

.body-about .text-container {
    width: 34.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.body-about .my-picture {
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-about .my-picture img {
    border-radius: 10%;
}

@media screen and (max-width: 500px) {
    .body-about .text-container {
        width: auto;
        gap: 0.1rem;
    }

    .body-about .my-picture {
        width: 100rem;

    }

    figcaption {
        display: none;
    }

    .abut-me .contaner {
        gap: 0.5rem;
    }
}