nav .contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: aliceblue;
}

nav .list img {
    display: none;
}

nav ul {
    display: flex;
    gap: 0.9rem;
}

nav ul li {
    background-color: rgb(9, 119, 83);
    padding: 0.5rem;
    border-radius: 10%;
}

header .logo {
    width: 2rem;
    height: 2rem;
}

header .logo img {
    border-radius: 50%;
}

@media screen and (max-width: 500px) {

    nav .contaner {
        padding: 0 1rem;
        background-color: #ccc;
    }

    nav ul {
        display: none;
    }

    nav .list img {
        display: block;
        width: 2rem;
        height: 2rem;
    }

    header .logo {
        width: 1rem;
        height: 1rem;
    }

    header .logo img {
        border-radius: 50%;
    }
}