@import "./CSS/font.css";
@import "./CSS/bodyAbout.css";
@import "./CSS/contact.css";
@import "./CSS/experience.css";
@import "./CSS/footer.css";
@import "./CSS/header.css";
@import "./CSS/projects.css";

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #ccc;

}

nav ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

.contaner {
    padding: 0 16rem;
}

h2 {
    text-align: center;
    position: relative;
}

h2::before,
h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 0.1rem;
    background-color: black;
}

h2::before {
    left: 1rem;
}

h2::after {
    right: 1rem;
}

@media screen and (max-width: 500px) {
    * {


        font-weight: 100;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .contaner {
        padding: 0;
    }

    h2::before,
    h2::after {
        width: 20%;
    }


}

@media screen and (max-width: 900px) {
    * {


        font-weight: 200;
    }



    .contaner {
        padding: 0.5rem
    }

    h2::before,
    h2::after {
        width: 35%;
    }


}